*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 38pt;
    text-align: center;
    margin: 1rem;
}

h2{
    font-size: 20pt;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;
}

nav{
    background-color: #41442F;
    background-attachment: fixed;
    height: 35vh;
    display: flex;
    flex-direction: column;
    margin-bottom: -10vh;
}

nav div{
    position: absolute;
    z-index: 2;
    display: flex;
}

.boek-open-container{
    width: fit-content;
    padding: 4% 0 0 4%;
}

.boek-open{
    width: 18vw;
}

.circle-container{
    position: absolute;
    z-index: 1;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 82vw;
    padding: 5% 0 5% 5%;  
}

.icon{
    width: 90%;
}

.logo-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    height: 25vh;
}

.logo{
    width: 30%;
    margin: 5%;
}

main{
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/background2.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
    border-radius: 3rem 3rem 0 0;
    overflow: hidden;
}

.left{
    background-color: #FFEFC9;
    padding: 5% 20% 5% 3%;
    margin: 4% 20% 4% 4%;
    height: 45vh;
    border-radius: 0 3rem 3rem 0;
    box-shadow: 8px 8px 10px rgba(88, 88, 88, 0.5);
    margin-bottom: 3rem;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-left{
    display: flex;
    justify-content: space-between;
    margin-right: -3.7rem;
    align-items: center;
    border: solid black 2px;
    border-radius: 3rem;
    padding: 0.2rem 0.4rem;
    align-self: flex-end;
}

.right{
    background-color: #FFEFC9;
    padding: 5% 3% 5% 10%;
    margin: 4% 4% 4% 20%;
    height: 45vh;
    border-radius: 3rem 0 0 3rem;
    box-shadow: 8px 8px 10px rgba(88, 88, 88, 0.5);
    margin-bottom: 3rem;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.button-right{
    display: flex;
    justify-content: space-between;
    margin-left: -3.7rem;
    align-items: center;
    border: solid black 2px;
    border-radius: 3rem;
    padding: 0.2rem 0.4rem;
    align-self: flex-end;
}

.peiltje{
    width: 30%;
}

#boek{
    margin-bottom: 23vh;
}

footer{
    background-color: #41442F;
    text-align: center;
    padding: 6%;
    border-radius: 3rem 3rem 0 0;
    margin-top: -18vh;
    color: white;
}

h3{
    margin: 0 0 1rem 0;
}

.blobs{ 
    margin: 4rem 0 0 0;
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    justify-content: space-between;
}

.blob-orange{
    align-self: flex-end;
}

.blob-purple{
    align-self: flex-end;
}

.organisatie-container{
    display: flex;
    flex-direction: column;  
}

.organisatie{
    display: flex;
    flex-direction: column;
    height: 70vh;
    background-color: #FFEFC9;
    position: relative;
    z-index: 2;
    margin: 0 0 10rem 0;
    padding: 1rem 1rem 1rem 20%;
}

.bookmark-orange{
    position: absolute;
    z-index: 1;
    margin-top: 45vh;
    right: 3vw;
}

.oudemanhuispoort-container{
    display: flex;
    flex-direction: column;
}

.oudemanhuispoort{
    display: flex;
    flex-direction: column;
    height: 85vh;
    background-color: #FFEFC9;
    position: relative;
    z-index: 2;
    margin: 0 0 18rem 0;
    padding: 1rem 20% 1rem 1rem;
    align-items: end;

}

.bookmark-purple{
    position: absolute;
    z-index: 1;
    margin-top: 60vh;
    left: 3vw;
}

.black-line{
    height: 0.2rem;
    width: 90%;
    background-color: black;
    margin: 1rem 0;
}

.green-left{
    width: 18%;
    height: 75vh;
    background-color: #41442F;
    position: absolute;
    z-index: 3;
}

.green-right{
    width: 18%;
    height: 90vh;
    background-color: #41442F;
    position: absolute;
    z-index: 3;
    right: 0;
}

